# Python cache and environment
__pycache__/
.venv/
.env
.pytest_cache/

# IDE and editor settings
.vscode/
.idea/

# Git and version control
.git/

# Build and distribution
dist/
build/
build_exe.bat

# Data and results
server/
results/
files/
backup/
ref/
logs/
*.json

# File types to ignore
*.xlsx
*.log
*.zip
*.back
.cl*